@import 'material.min.css';
@import 'styles.css';

body {
	background: #f5f5f5;
}

.util-center {
    margin: auto;
}

.util-spacing-h--40px {
    margin-top: 40px;
    margin-bottom: 40px
}
.util-no-decoration {
    text-decoration: none;
}